@tailwind base;
@tailwind components;
@tailwind utilities;

.no span {
  height: 99% !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
input {
  outline: none;
  background: none;
}
