@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

input {
  outline: none;
  background: none;
}

.waving {
  animation: waving 2s infinite ease-in-out;
}
@keyframes waving {
  0% {
    margin-top: 2rem;
  }
  50% {
    margin-top: 0;
  }
  100% {
    margin-top: 2rem;
  }
}
